<!-- Modal information user agreement -->
<div class="modal" id="modal-information-useragreement" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title">@Resource.User_agreement</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0px;">
                <div style="padding:15px 15px 0px 15px; font-size:18px;">
                    @Html.Partial("_UserAgreement")
                </div>
            </div>
            <div class="modal-footer" id="modal-useragreement-footer" style="border: 0px;">
            </div>
        </div>
    </div>
</div>