@section Header {
    @Html.Partial("~/Views/Shared/_Header.cshtml")
}

<div id="administration-emails-content">
    @Html.Partial("~/Views/Administration/Partials/_EmailsContent.cshtml")
</div>

@section Footer {
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
}