@section Header {
    @Html.Partial("~/Views/Shared/_Header.cshtml")
}

<div id="administration-logs-content">
    @Html.Partial("~/Views/Administration/Partials/_LogsContent.cshtml")
</div>

@section Footer {
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
}