@section Header {
    @Html.Partial("~/Views/Shared/_Header.cshtml")
}

<div id="administration-news-content">
    @Html.Partial("~/Views/Administration/Partials/_NewsContent.cshtml")
</div>

@section Footer {
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
}

@section Modals {
    @Html.Partial("~/Views/Administration/Modals/_NewsModals.cshtml")
}