@section Header {
    @Html.Partial("~/Views/Shared/_Header.cshtml")
}

<div id="administration-users-content">
    @Html.Partial("~/Views/Administration/Partials/_UsersContent.cshtml")
</div>

@section Footer {
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
}