<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px">
    <span class="label noselect label-primary pull-left modal-useragreement-title">
        @Resource.Software_piracy
        <i class="fa fa-share-alt pull-right"></i>
    </span>
</div>

<p class="page-content">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<hr />

<p class="page-content" style="margin:0px;">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-divider" style="padding:0px">
    <span class="label noselect label-primary pull-left modal-useragreement-title">
        @Resource.Cookies
        <i class="fa fa-file-code-o pull-right"></i>
    </span>
</div>

<p class="page-content">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<hr />

<p class="page-content" style="margin:0px;">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-divider" style="padding:0px">
    <span class="label noselect label-primary pull-left modal-useragreement-title">
        @Resource.Rights
        <i class="fa fa-copyright pull-right"></i>
    </span>
</div>

<p class="page-content">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<hr />

<p class="page-content" style="margin:0px;">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-divider" style="padding:0px">
    <span class="label noselect label-primary pull-left modal-useragreement-title">
        @Resource.Personal_privacy
        <i class="fa fa-eye pull-right"></i>
    </span>
</div>

<p class="page-content">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>

<hr />

<p class="page-content" style="margin-bottom:0px;">
    Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut.
</p>